task3/KITTI_2015_subset.zip
task3/KITTI_2015_subset/
task3/examples
report-latex/
! report-latex/*.tex
task3/.DS_Store
.DS_Store
__MACOSX/KITTI_2015_subset/
KITTI_2015_subset.zip
__MACOSX/._KITTI_2015_subset
task3/output/
*.pyc
task3/__MACOSX/
